<div fxLayout="row" fxFlex.md="70" fxLayout="row" fxLayoutAlign="center center">
  <div *ngFor="let note of notes " class="card-item">
    <mat-card>
      <mat-card-header>
        <mat-card-title (click)=openDialog(note)>{{note.title}}</mat-card-title>
        <button *ngIf="!note.pinned" mat-icon-button matTooltip="Pin" title="Pin" class="end"
          (click)="pinnedNote('pinned',note)">
          <mat-icon>colorize</mat-icon>
        </button>
        <button *ngIf="note.pinned" mat-icon-button matTooltip="Pin" class="end" (click)="pinnedNote('unpinned',note)">
          <mat-icon>colorize</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content (click)=openDialog(note)>
        {{note.description}}
      </mat-card-content>
      <mat-card-content>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let label of note.listOfLabels" [selectable]="selectable" [removable]="removable"
            (removed)="removeLabel(label.labelId,note)">
            {{label.labelName}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-footer>
        <div>
          <button mat-icon-button matTooltip="Remind me" title="Remind me">
            <mat-icon>add_alert</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Collaborator" title="Collaborator">
            <mat-icon>person_add</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Change color" title="Change Color">
            <mat-icon>palette</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Add image" title="Add image">
            <mat-icon>image</mat-icon>
          </button>
          <button *ngIf="!note.archive" mat-icon-button matTooltip="Archive"
            (click)="updateArchiveNote('archive',note)">
            <mat-icon>archive</mat-icon>
          </button>
          <button *ngIf="note.archive" mat-icon-button matTooltip="Archive" (click)="updateArchiveNote('unarchive',note)">
            <mat-icon>unarchive</mat-icon>
          </button>
          <button mat-icon-button class="icon-button" id="more" [matMenuTriggerFor]="more">
            <i id="accountcircle" class="material-icons">more_vert</i></button>
          <mat-menu #more="matMenu" class="morecard">
            <div>
              <button mat-button (click)="moveToTrash('trashed',note)">
                <span>Delete Note</span>
              </button>
            </div>
            <div>
              <app-add-label-to-note [note]=note (addLabelToNoteEvent)="addLabelToNote($event)"></app-add-label-to-note>
            </div>
          </mat-menu>
          <button mat-icon-button matTooltip="undo">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-icon-button matTooltip="redo">
            <mat-icon>redo</mat-icon>
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>