<div class="gk" [ngClass]="grid ? 'gk-grid-view': 'gk-list-view'" fxLayoutAlign="space-around center">
  <div *ngFor="let note of notes" class=gk-container>
    <mat-card [style.background-color]="note.color">
      <mat-card-header class="container-header">
        <mat-card-title (click)=openDialog(note)>{{note.title}}</mat-card-title>
        <button *ngIf="!note.pinned" mat-icon-button matTooltip="Pin" title="Pin" class="end"
          (click)="pinnedNote('pinned',note)">
          <mat-icon>colorize</mat-icon>
        </button>
        <button *ngIf="note.pinned" mat-icon-button matTooltip="Pin" class="end" (click)="pinnedNote('unpinned',note)">
          <mat-icon>colorize</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content (click)=openDialog(note) class="container-body">
        {{note.description}}
      </mat-card-content>
      <mat-card-content class="container-body">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let label of note.listOfLabels" [selectable]="selectable" [removable]="removable"
            (removed)="removeLabel(label.labelId,note)">
            {{label.labelName}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <mat-chip *ngIf="note.reminder != null" [selectable]="selectable" [removable]="removable"
            (removed)="removeReminder(note)">
            {{note.reminder | date:'short'}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <!-- <mat-chip>
            {{date.value}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip> -->
        </mat-chip-list>
      </mat-card-content>
      <mat-card-footer class="container-footer">
        <div class="container-footer-buttons">
          <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Remind me" title="Remind me">
            <mat-icon>add_alert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <label>
              Date Time:
              <input [min]="min" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" [(ngModel)]="selectedReminder">
              <owl-date-time [pickerMode]="'dialog'" #dt5></owl-date-time>
            </label>
            <button mat-button (click)="updateReminder(note,selectedReminder)">Save</button>
            <!-- <mat-form-field>
              <input matInput [matDatepicker]="reminder" [value]="date.value" [(ngModel)]="note.reminder">
              <mat-datepicker-toggle matSuffix [for]="reminder"></mat-datepicker-toggle>
              <mat-datepicker #reminder></mat-datepicker>
            </mat-form-field> -->
          </mat-menu>
          <button mat-icon-button matTooltip="Collaborator" title="Collaborator" (click)=openCollaborator(note)>
            <mat-icon>person_add</mat-icon>
          </button>
          <app-color [particularNote]="note" (colorEvent)="updateColor($event)"></app-color>
          <button mat-icon-button matTooltip="Add image" title="Add image">
            <mat-icon>image</mat-icon>
          </button>
          <button *ngIf="!note.archive" mat-icon-button matTooltip="Archive"
            (click)="updateArchiveNote('archive',note)">
            <mat-icon>archive</mat-icon>
          </button>
          <button *ngIf="note.archive" mat-icon-button matTooltip="Archive"
            (click)="updateArchiveNote('unarchive',note)">
            <mat-icon>unarchive</mat-icon>
          </button>
          <button mat-icon-button class="icon-button" id="more" [matMenuTriggerFor]="more">
            <i id="accountcircle" class="material-icons">more_vert</i></button>
          <mat-menu #more="matMenu" class="morecard">
            <div>
              <button mat-button (click)="moveToTrash('trashed',note)">
                <span>Delete Note</span>
              </button>
            </div>
            <div>
              <app-add-label-to-note [note]=note (addLabelToNoteEvent)="addLabelToNote($event)">
              </app-add-label-to-note>
            </div>
          </mat-menu>
          <button mat-icon-button matTooltip="undo">
            <mat-icon>undo</mat-icon>
          </button>
          <button mat-icon-button matTooltip="redo">
            <mat-icon>redo</mat-icon>
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>