<div fxLayout="column" fxLayoutAlign="space-evenly center">
  <div md-whiteframe="7" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout
    layout-align="center center">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-form-field>
              <input matInput placeholder="Take a note..">
            </mat-form-field>
            <div class="end">
              <button mat-icon-button style="float: right;">
                <mat-icon>image</mat-icon>
              </button>
              <button mat-icon-button style="float: right;">
                <mat-icon>check_box_outline</mat-icon>
              </button>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="Title">
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>