<div fxLayout="row" fxLayoutAlign="stretch">
  <mat-toolbar class="example-toolbar" fxFlex="100%;" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button 
      (click)="toggleOnClick()" matTooltip="Menu">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><img src="./assets/images/google-keep.jpg" style="width:100px;"></span>
      &nbsp;&nbsp;
      <span>
        <font size="5" face="arial">FundooNote</font>
      </span>
      <div class="slinput" ng-init="">
        <i class="fa fa-search left-icon"></i>
        <input matInput type="search" placeholder="Search here" ng-model="searchInputVal" />
        <i ng-class="{'fa' : true, 'fa-close' : true, 'right-icon' : true, active : (searchInputVal.length > 0)}"
          ng-click="searchInputVal = ''"></i>
      </div>
      <!-- </div> -->
      <a mat-button routerLink="/home" mat-icon-button routerLinkActive="active" matTooltip="Refresh" class="end">
        <mat-icon>refresh</mat-icon>
      </a>
      <button mat-button [matMenuTriggerFor]="settings" mat-icon-button matTooltip="Settings" class="end">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settings="matMenu">
        <button mat-menu-item>
          <span>Settings</span>
        </button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="user" class="end">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #user="matMenu">
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <a mat-button routerLink="/login">
            <span>Logout</span>
          </a>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>