<div fxLayout="row" fxLayoutAlign="stretch">
  <mat-toolbar class="example-toolbar" fxFlex="100%;" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="100%">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleOnClick()" matTooltip="Menu">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><img src="./assets/images/google-keep.jpg" style="width:100px;"></span>
      &nbsp;&nbsp;
      <span>
        <font size="5" face="arial">FundooNote</font>
      </span>
      <div class="slinput" ng-init="">
        <i class="fa fa-search left-icon"></i>
        <input matInput type="search" placeholder="Search here" [(ngModel)]="searchInput" (click)=search()>
        <button mat-button *ngIf="searchInput.length" (click)="closeSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <a mat-button routerLink="/home" mat-icon-button routerLinkActive="active" matTooltip="Refresh" class="end">
        <mat-icon>refresh</mat-icon>
      </a>
      <button *ngIf="!enable" mat-button matTooltip="Grid" title="Grid View" (click)="changeGrid()">
        <mat-icon>view_module</mat-icon>
      </button>
      <button *ngIf="enable" mat-button matTooltip="Grid" title="Grid View" (click)="changeGrid()">
        <mat-icon>view_agenda</mat-icon>
      </button>
      <button mat-button [matMenuTriggerFor]="settings" mat-icon-button matTooltip="Settings" class="end">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settings="matMenu">
        <button mat-menu-item>
          <span>Settings</span>
        </button>
      </mat-menu>
      <button mat-button *ngIf="imageData.imageSrc!=null" [matMenuTriggerFor]="user" class="end">
        <img class="image" [src]="imageData.imageSrc" height="40%" width="40%">
      </button>
      <button mat-button *ngIf="imageData.imageSrc==null" [matMenuTriggerFor]="user" class="end">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #user="matMenu">
        <button mat-menu-item>
          <mat-icon>logout</mat-icon>
          <a mat-button routerLink="/login">
            <span>Logout</span>
          </a>
        </button>
        <button mat-menu-item (click)=openDialogImage()>
          <mat-icon>portrait</mat-icon>
          <span>Upload Image</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>