<div fxLayout="row" fxLayoutAlign="space-evenly center" style="width:500px" fxFlex="60">
  <mat-toolbar>
    <form [formGroup]="createNoteForm">
      <mat-accordion fxFlex="80%;" fxFlex.xs="100%" fxFlex.sm="10%" fxFlex.md="100%">
        <mat-expansion-panel (opened)="showHeader = false" (closed)="showHeader = true" style="width: 600px"
          (closed)="onSubmit(createNoteForm.value)">
          <mat-expansion-panel-header>
            <ng-container *ngIf="showHeader;else tempTtext">
              <mat-panel-title>
                <h5>Take a note..</h5>
                <div style="text-align:right; width:100%;">
                  <button mat-icon-button matTooltip="new list">
                    <mat-icon>check_box</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="new note with image">
                    <mat-icon>image</mat-icon>
                  </button>
                </div>
              </mat-panel-title>
            </ng-container>
            <ng-template #tempTtext #note>
            </ng-template>
          </mat-expansion-panel-header>
          <mat-panel-description>
            <input #note class="noBorderAndBackground" formControlName="title" placeholder="Title"
              style="width: 500px;">
            &nbsp;
          </mat-panel-description>
          <mat-panel-description>
            <input #note class="noBorderAndBackground" placeholder="Take a note.." formControlName="description"
              style="width:500px;">
          </mat-panel-description>
          <mat-panel-description>
            <div>
              <button mat-icon-button matTooltip="Remind me" title="Remind me">
                <mat-icon>add_alert</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Collaborator" title="Collaborator">
                <mat-icon>person_add</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Change color" title="Change Color">
                <mat-icon>palette</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Add image" title="Add image">
                <mat-icon>image</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Archive" (click)="updateArchiveNote(note)">
                <mat-icon>archive</mat-icon>
              </button>
              <button mat-icon-button class="icon-button" id="more" [matMenuTriggerFor]="more">
                <i id="accountcircle" class="material-icons">more_vert</i></button>
              <mat-menu #more="matMenu" class="morecard">
                <div>
                  <button mat-button (click)=moveToTrash(note)>
                    <span>Delete Note</span>
                  </button>
                </div>
                <div>
                  <button mat-button (click)=openCard()>
                    <span>Add Label</span>
                  </button>
                </div>
              </mat-menu>
              <button mat-icon-button matTooltip="undo">
                <mat-icon>undo</mat-icon>
              </button>
              <button mat-icon-button matTooltip="redo">
                <mat-icon>redo</mat-icon>
              </button>
            </div>
          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </mat-toolbar>
</div>