.mat-toolbar {
    margin-left: 141px;
    padding: 100px;
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
  
.noBorderAndBackground{     
     text-align: left;
     height:50px;
     font-size:14pt;
     background-color:white;
     border: hidden;
     outline: none;
    }

.end{
    margin-left: auto;
  }