<div [style.background-color]="data.color">
  <div class="head">
    <div *ngFor="let image of data.images" class="image">
      <img [src]=getImage(image,data) width="70%" height="70%">
      <mat-icon class="deleteIcon" (click)="deleteImage(image)">delete</mat-icon>
    </div>
    <input matInput [(ngModel)]="data.title" [value]=data.title placeholder="Title">
    <button *ngIf="!data.pinned" mat-icon-button matTooltip="Pin" title="Pin" class="button" (click)="pinnedNote(data)">
      <mat-icon>colorize</mat-icon>
    </button>
    <button *ngIf="data.pinned" mat-icon-button matTooltip="Pin" class="button" (click)="pinnedNote(data)">
      <mat-icon>colorize</mat-icon>
    </button>
  </div>
  <br>
  <br>
  <div>
    <input matInput [(ngModel)]="data.description" [value]=data.description placeholder="Description">
  </div>
  <br>
  <div>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let label of data.listOfLabels" [selectable]="selectable" [removable]="removable"
        (removed)="removeLabel(label.labelId,data)">
        {{label.labelName}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <mat-chip *ngIf="data.reminder != null" [selectable]="selectable" [removable]="removable"
        (removed)="removeReminder(note)">
        {{data.reminder | date:'short'}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div>
    <br>
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Remind me" title="Remind me">
      <mat-icon>add_alert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <label>
        Date Time:
        <input [min]="min" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" [(ngModel)]="selectedReminder">
        <owl-date-time [pickerMode]="'dialog'" #dt5></owl-date-time>
      </label>
      <button mat-button (click)="updateReminder(data,selectedReminder)">Save</button>
    </mat-menu>
    <button mat-icon-button matTooltip="Collaborator" title="Collaborator" (click)=openCollaborator(data)>
      <mat-icon>person_add</mat-icon>
    </button>
    <app-color [particularNote]="data" (colorEvent)="updateColor($event)"></app-color>
    <button mat-icon-button matTooltip="Add image">
      <input style="display: none" type="file" (change)="onImageEvent($event,data)" #addImage>
      <mat-icon (click)="addImage.click()">image</mat-icon>
    </button>
    <button *ngIf="!data.archive" mat-icon-button matTooltip="Archive" (click)="updateArchiveNote(data)">
      <mat-icon>archive</mat-icon>
    </button>
    <button *ngIf="data.archive" mat-icon-button matTooltip="Archive" (click)="unArchiveNote(data)">
      <mat-icon>unarchive</mat-icon>
    </button>
    <button mat-icon-button class="icon-button" id="more" [matMenuTriggerFor]="more">
      <i id="accountcircle" class="material-icons">more_vert</i></button>
    <mat-menu #more="matMenu" class="morecard">
      <div>
        <button mat-button (click)=onDelete(data)>Delete Note</button>
      </div>
      <div>
        <app-add-label-to-note [note]="data" (addLabelToNoteEvent)="addLabelToNote($event)"></app-add-label-to-note>
      </div>
    </mat-menu>
    <button mat-icon-button matTooltip="undo">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-icon-button matTooltip="redo">
      <mat-icon>redo</mat-icon>
    </button>
    <button mat-raised-button (click)="closeClick(data)">Close</button>
  </div>
</div>