.example-container {
    display: flex;
    flex-direction: column;

  }
  
  .example-container > * {
    width: 15%;
  }

  .login-button {
    background-color: blue !important;
    color: white;
    font-size: medium;
    height: 20px;
    width: 50%;
    
  }
  
  .forgot-password-card{
    height: 400px;
    width: 450px;
    margin: 5% auto;
  }
  
  
  
  .resetpassword-btn-text{
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 8px 0;
  }
  
  .card {
  margin: auto;
}